body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ff2f2f;
  opacity: 0.75;
  padding: 2px 10px;
  color: #ffd;
  font-size: 25px;
}

#search {
  background-color: #ffffff;
  opacity: 0.9;
  color: #111;
}

#resultCount {
  color: #111;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 2px 10px;
}

.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 150%;
  background-color: transparent;
  color: inherit;
  border-collapse: collapse;
  opacity: 0.75;
  font-style: italic;
}

th {
  cursor: pointer;
}

th .sort-arrow {
  font-size: 12px;
  color: #888;
  margin-left: 5px;
  display: inline-block;
}

th.sortable.sorted-asc .sort-arrow:before {
  content: "▲";
}

th.sortable.sorted-desc .sort-arrow:before {
  content: "▼";
}

th.sortable .sort-arrow {
  visibility: hidden;
}

th.sortable.sorted-asc .sort-arrow,
th.sortable.sorted-desc .sort-arrow {
  visibility: visible;
}

.difficulty {
  display: flex;
}

.diff {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 0;
}

#diff-easy {
  background-color: #4caf50;
}

#diff-normal {
  background-color: #2196f3;
}

#diff-hard {
  background-color: #ffc107;
}

#diff-extra {
  background-color: #ff5722;
}

#diff-lunatic {
  background-color: #9c27b0;
}

.btn-download {
  font-size: 13px;
  padding: 5px 10px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }
}

.bgimg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-width: 1000px;
      z-index: -10;
      zoom: 1;
      background-color: #fff;
      background-image: url(https://th.bing.com/th/id/R.167efdd588c795082eca759fc14d0787?rik=Jc5NusoDv9Z2aw&riu=http%3a%2f%2fd.hiphotos.baidu.com%2fzhidao%2fpic%2fitem%2ff31fbe096b63f62498a45fc18644ebf81b4ca373.jpg&ehk=Ona7eUyLsnKcFqaZda%2fOCCOCWi6USZgL1V66q08zaaQ%3d&risl=&pid=ImgRaw&r=0) ;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-position: center 0;
    }